
.attach_*
/dependencies
## Java
Tools/build
*.class
/Ozone/
/config/
/cache/
/*.txt
/lib/
*.war
*.ear
src/main/resources/Manifest.properties
src/main/resources/META-INF
hs_err_pid*
crash-report-*
Android/build
Desktop/build
## Robovm
/ios/robovm-build/

## Android Studio and Intellij and Android in general
/android/libs/armeabi/
/android/libs/armeabi-v7a/
/android/libs/arm64-v8a/
/android/libs/x86/
/android/libs/x86_64/
/android/gen/
.idea/
*.ipr
*.iws
*.iml
/android/out/
com_crashlytics_export_strings.xml

## Eclipse

.classpath
.project
.metadata/
/android/bin/
/core/bin/
/desktop/bin/
/ios/bin/
/annotations/bin/
/server/bin/
/tests/bin/
/tools/bin/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.externalToolBuilders/
*.launch

## NetBeans

/nbproject/private/
/android/nbproject/private/
/core/nbproject/private/
/desktop/nbproject/private/
/html/nbproject/private/
/ios/nbproject/private/
/ios-moe/nbproject/private/

/build/
/android/build/
/core/build/
/desktop/build/
/html/build/
/ios/build/
/ios-moe/build/

/nbbuild/
/android/nbbuild/
/core/nbbuild/
/desktop/nbbuild/
/html/nbbuild/
/ios/nbbuild/
/ios-moe/nbbuild/

/dist/
/android/dist/
/core/dist/
/desktop/dist/
/html/dist/
/ios/dist/
/ios-moe/dist/

/nbdist/
/android/nbdist/
/core/nbdist/
/desktop/nbdist/
/html/nbdist/
/ios/nbdist/
/ios-moe/nbdist/

nbactions.xml
nb-configuration.xml

## Gradle

/local.properties
.gradle/
gradle-app.setting


## OS Specific
.DS_Store
Thumbs.db
android/libs/
annotations/src/main/resources/revisions/EffectState/6.json
Desktop/Ozone-Mapping.txt
copy.bat
/dependencies/
/CodeGen/src/main/resources/META-INF/services/javax.annotation.processing.Processor
/CodeGen/build/
CodeGen/build/libs/CodeGen.jar
CodeGen/build/resources/main/META-INF
CodeGen/build/tmp/compileJava/source-classes-mapping.txt
CodeGen/build/tmp/jar/MANIFEST.MF
/tool/
/Atomic/
Android/src/main/java/Ozone/
Android/src/main/resources/
CodeGen/src/main/resources/META-INF/services/com.sun.source.util.Plugin
CodeGen/src/test/
Desktop/src/main/resources/
Desktop/src/test/
Tools/src/main/resources/
Tools/src/test/resources/
config/logs/
config/maps/
config/mods/
config/settings.bin
src/test/resources/
CodeGen/
Desktop/out/production/resources/
Desktop/src/main/java/Bot/Interface/Client/
Desktop/src/main/java/Bot/Interface/Server/
Desktop/src/main/java/mindustry/world/
out/production/resources/
/src/main/resources/dependencies
